# Project exclude paths
/actionsAndEffects/effects.js
/actionsAndEffects/effects.js.map
/actionsAndEffects/weapons.js
/actionsAndEffects/weapons.js.map
/assets/tilemaps/pipo-map001.js
/assets/tilemaps/pipo-map001.js.map
/assets/tilemaps/pipo-map001_at-kusa.js
/assets/tilemaps/pipo-map001_at-kusa.js.map
/assets/tilemaps/pipo-map001_at-miti.js
/assets/tilemaps/pipo-map001_at-miti.js.map
/assets/tilemaps/pipo-map001_at-mori.js
/assets/tilemaps/pipo-map001_at-mori.js.map
/assets/tilemaps/pipo-map001_at-sabaku.js
/assets/tilemaps/pipo-map001_at-sabaku.js.map
/assets/tilemaps/pipo-map001_at-tuti.js
/assets/tilemaps/pipo-map001_at-tuti.js.map
/assets/tilemaps/pipo-map001_at-yama1.js
/assets/tilemaps/pipo-map001_at-yama1.js.map
/assets/tilemaps/pipo-map001_at-yama2.js
/assets/tilemaps/pipo-map001_at-yama2.js.map
/assets/tilemaps/pipo-map001_at-yama3.js
/assets/tilemaps/pipo-map001_at-yama3.js.map
/assets/tilemaps/tmw_desert_spacing.js
/assets/tilemaps/tmw_desert_spacing.js.map
/entities/boar.js
/entities/boar.js.map
/entities/disposition.js
/entities/disposition.js.map
/entities/enemy.js
/entities/enemy.js.map
/entities/enemyEntity.js
/entities/enemyEntity.js.map
/entities/generalEntity.js
/entities/generalEntity.js.map
/entities/player.js
/entities/player.js.map
/node_modules/
/scenes/fight.js
/scenes/fight.js.map
/scenes/house.js
/scenes/house.js.map
/scenes/preload.js
/scenes/preload.js.map
/types/my-types.js
/types/my-types.js.map
/index.js
/index.js.map